<header>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/amazon.jpg" class="w-100" style="margin-bottom:10px;">
                    </div>
                    <div class="col-6">
                        <img src="assets/yahoo.jpeg" class="w-100" style="margin-bottom:10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="height: 300px;margin-bottom:15px;">
                        <img src="assets/microsoft.jpeg" class="w-100">
                    </div>
                </div>

            </div>
            <div class="col-6">
                <img src="assets/facebook.jpg" class="w-100 h-100">
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="height: 10px;margin-top: 15px;">
                <img src="assets/google.jpg" class="w-100">
            </div>
            <div class="col-6" style="margin-top: 15px; height: 400px;">
                <img src="assets/apple.jpeg" class="w-100 h-100">
            </div>
        </div>
    </div>
</header>
<footer>
    <h5 class="ex1">Made with ❤️ by virtusa</h5>
</footer>